.cardProfile{
    width: 50vw;
}

#labPsw{
    color: red;
    font-size: bold;
}
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.panel-footer{
    text-align: center;
    
}

button{
    margin: 10px;
}

.container-card{
    margin: 50px 20px 20px;

    border: 1px solid black;
  
}

.cardcomment{
    width: 60%;
}

.panel-info .panel-heading {
    padding-left: 20px;
}

#username{
    text-align: center;
}

#position{
    margin-left: 250px;
}
