<div class="card ms-2 mt-5 cardProfile">
    <div class="card-body">
      <h5 class="card-title">{{user.username}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
      <div class="card-header">
        Details 
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="text-muted">Name:</span> {{user.name}}</li>
        <li class="list-group-item"><span class="text-muted">Surname:</span> {{user.surname}}</li>
        <li class="list-group-item"><span class="text-muted">Birthdate:</span> {{user.birthdate}}</li>
        <li class="list-group-item"><span class="text-muted">Role:</span> {{user.role}}</li>
        <li class="list-group-item"><span class="text-muted">Registration date:</span> {{ user.date | date:'longDate' }}</li>
        
      </ul>
      <p class="card-text"><span class="text-muted">Bio:</span> {{user.bio}}</p>
      <a (click)="delete()" class="btn btn-danger">Delete your Profile</a>
      <!-- <a (click)="edit(user)" class="btn btn-warning">Edit your Profile</a> -->
    </div>
  </div>

  <!-----------------------SHOWINGMINE-->



  <div class="card" *ngFor="let mine of mines">
    <div class="card-body">
      <h5 class="card-title">{{mine.title}}</h5>
      <p class="card-text">{{mine.content}}</p>
      <a (click)="editP(mine)" class="btn btn-warning">Edit</a>
      <a (click)="deletePost(mine.id)" class="btn btn-danger">Delete</a>
    </div>
  </div>

<!--------------FORMUSEREDIT-------------------------------------------->
<!-- <form class="my-5 mx-5" [hidden]="userEdit">
  <input class="form-control my-2" type="email"
  [(ngModel)]="editedUser.email"
  name="email">
  <input class="form-control my-2" type="password"
  [(ngModel)]="editedUser.password"
  name="password">
  <input class="form-control my-2" type="text"
  [(ngModel)]="editedUser.username"
  name="username">
  <input class="form-control my-2" type="text"
  [(ngModel)]="editedUser.name"
  name="name">
  <input class="form-control my-2" type="text"
  [(ngModel)]="editedUser.surname"
  name="surname">
<input class="form-control my-2" type="date"
  [(ngModel)]="editedUser.birthdate"
  name="birthdate">


  <textarea class="form-control my-2"
  [(ngModel)]="editedUser.bio"
  name="content"></textarea>

  
  <button (click)="editUser()" class="btn btn-primary">Edit</button>
</form> -->



 
<!----------FORMEDITPOSTS-------------------->

<form class="my-5 mx-5" [hidden]="postEdit">
 
  <input class="form-control my-2" type="text"
  [(ngModel)]="editedPost.title"
  name="username">
  <input class="form-control my-2" type="text"
  [(ngModel)]="editedPost.content"
  name="name">
 

  <button (click)="editPost()" class="btn btn-primary">Edit</button>
</form>