<div class="card ms-2 mt-5 cardProfile">
    <div class="card-body">
      <h5 class="card-title">{{user.username}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
      <div class="card-header">
        Details 
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{user.name}}</li>
        <li class="list-group-item">{{user.surname}}</li>
        <li class="list-group-item">{{user.birthdate}}</li>
        <li class="list-group-item">{{user.date}}</li>
      </ul>
      <p class="card-text">una citazione a caso</p>
      <a (click)="delete()" class="btn btn-danger">Delete your Profile</a>
      <a  class="btn btn-warning">Edit your Profile</a>
    </div>
  </div>

  <div class="card" *ngFor="let mine of mines">
    <div class="card-body">
      <h5 class="card-title">{{mine.title}}</h5>
      <p class="card-text">{{mine.content}}</p>
      <a href="#" class="btn btn-warning">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>


 
