
<h1>USERS</h1>
<div class="container">
  <div class="row">
    <div class="col">
<div *ngFor = "let user of alluser">   
<div class="list-group">
    <a (click)="showUser(user.id)" class="list-group-item list-group-item-action">{{user.username}}</a>
  </div>
</div>

<div class="card ms-2 mt-5 cardProfile"[hidden]="formInfoUsers">
  <div class="card-body">
    <h5 class="card-title">{{userSeen.username}}</h5>
    <div class="card-header">
      Details 
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span class="text-muted">Name:</span>{{userSeen.name}}</li>
      <li class="list-group-item"><span class="text-muted">Surname:</span>{{userSeen.surname}}</li>
      <li class="list-group-item"><span class="text-muted">Birthdate:</span>{{userSeen.birthdate}}</li>
      <li class="list-group-item"><span class="text-muted">Role:</span>{{userSeen.role}}</li>
      <li class="list-group-item"><span class="text-muted">Registration date:</span>{{ userSeen.date | date:'longDate' }}</li>
      <li class="list-group-item"><span class="text-muted">Bio:</span>{{userSeen.bio}}</li>
    </ul>
  </div>
</div>
</div>
<div class="col mt-5">
<div>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit" (click) = 'checkSearchVal()'>Search</button>
  </form>
</div>
</div>
</div>
</div>